/* Google FONT */
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}



main
{
    width: 500px;
    height: 300px;
    padding: 0 0 10px 0;
    background-color: rgba(216, 216, 216, 0.526);
    border-radius: 8px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.otra-pregunta
{

   margin-top: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   transition: 0.4s;
}

.otra-pregunta:hover
{
    transform: scale(0.8);
}


.otra-pregunta button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(71, 71, 71);
    font-size: 44px;

    cursor: pointer;
}



.preguntas
{
    font-family: Verdana;
    background-color: white;
    color: black;
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 8px 8px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;
    
}

.tiempo
{
    font-size: 28px;
    margin-top: -20px;
    font-weight: bold;
    background-color: white;
    color: rgb(44, 44, 44);
    font-family: Verdana;

    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}



/* Responsive */

@media (max-width: 720px)
{
    main 
    {
        width: 300px;
        height: 290px;
    }

    .preguntas
    {
        font-size: 20px;
    }

    .tiempo
    {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }

}